{% ckan_extends %}

{% block resource_read_title %}
  <h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}
  {% if res.validation_options %}
    {{ h.get_validation_badge(res)|safe }}
    {% resource 'ckanext-validation/main' %}
  {% endif %}
  </h1>
{% endblock %}

{% block resource_actions_inner %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='wrench' %}</li>
  {% endif %}
  {% if res.allow_download != 'False' %}
    {% if res.url and h.is_url(res.url) %}
      <li>
        <div class="btn-group">
        <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
          {% if res.resource_type in ('listing', 'service') %}
            <i class="fa fa-eye"></i> {{ _('View') }}
          {% elif  res.resource_type == 'api' %}
            <i class="fa fa-key"></i> {{ _('API Endpoint') }}
          {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
            <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
          {% else %}
            <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
          {% endif %}
        </a>
         {% block download_resource_button %}
          {%if res.datastore_active %}
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, bom=True) }}"
              target="_blank"><span>CSV</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='tsv', bom=True) }}"
              target="_blank"><span>TSV</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='json') }}"
              target="_blank"><span>JSON</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='xml') }}"
              target="_blank"><span>XML</span></a>
          </li>
        </ul>
        {%endif%} {% endblock %}
        </div>
      </li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block resource_read_url %}
  {% if res.allow_download != 'False' %}
    {% if res.url and h.is_url(res.url) %}
      <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endif %}
{% endblock %}

{% block resource_additional_information_inner %}
  {% if res.datastore_active %}
    {% block resource_data_dictionary %}
      {{ super() }}
    {% endblock %}
  {% endif %}

  <div class="module-content">
    <h2>{{ _('Additional Information') }}</h2>
    <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- block resource_last_updated -%}
          <tr>
            <th scope="row">{{ _('Last updated') }}</th>
            <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_created -%}
          <tr>
            <th scope="row">{{ _('Created') }}</th>
            <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_format -%}
          <tr>
            <th scope="row">{{ _('Format') }}</th>
            <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_license_info -%}
          <tr>
            <th scope="row">{{ _('License') }}</th>
            <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_fields -%}
          {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
                and field.display_snippet is not none -%}
              <tr>
                <th scope="row">
                  {{- h.scheming_language_text(field.label) -}}
                </th>
                <td>
                  {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
                </td>
              </tr>
            {%- endif -%}
          {%- endfor -%}
        {%- endblock -%}
        {% for key, value in h.format_resource_items(res.items()) %}
          <tr class="toggle-more"><th scope="row">{{ key }}{% if key == 'spatial metadata' or key == 'spatial metadata iso 19115' %} ({{ _('JSON string') }}){% endif %}</th><td>{{ value }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block secondary_content %}

  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
  {% endblock %}

  {% block resource_license %}
    {% snippet "snippets/social.html" %}
  {% endblock %}
{% endblock %}
