{% ckan_extends %}

{% block save_button %}
  {% set editing =  'id' in data %}
  {% if h.check_access('sysadmin') and h.onedataportal_sysadmin_disable_create_dataset() and not editing %}
    <span class="info-block info-inline">
      <i class="fa fa-info-circle"></i>
      {% trans %}
        Adding Dataset is disabled for Sysadmin user.
      {% endtrans %}
    </span>
  {% else %}
    <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
  {% endif %}
{% endblock %}
