{% ckan_extends %}

{% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
{% endblock %}

{% block resource_item_explore_links %}
  {% block explore_view %}
    <li>
      <a class="dropdown-item" href="{{ url }}">
        {% if res.has_views %}
          <i class="fa fa-chart-bar"></i>
          {{ _('Preview') }}
        {% else %}
          <i class="fa fa-info-circle"></i>
          {{ _('More information') }}
        {% endif %}
      </a>
    </li>
  {% endblock explore_view %}

  {% if res.url and h.is_url(res.url) %}
    <li>
      {% if res.has_views or res.url_type == 'upload' %}
        {% if res.allow_download == 'False' %}
        {% else %}
          <a href="{{ res.url }}" class="dropdown-item resource-url-analytics" target="_blank" rel="noreferrer">
            <i class="fa fa-arrow-circle-down"></i>
            {{ _('Download') }}
          </a>
        {% endif %}
      {% else %}
        <a href="{{ res.url }}" class="dropdown-item resource-url-analytics" target="_blank" rel="noreferrer">
          <i class="fa fa-external-link"></i>
          {{ _('Go to resource') }}
        </a>
      {% endif %}
    </li>
  {% endif %}
{% if can_edit %}
  <li>{% link_for _('Edit resource'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='dropdown-item', icon='pencil' %}</li>
  {% block resource_item_explore_inner scoped %}{% endblock %}
  <li>{% link_for _('Views'), named_route=pkg.type ~ '_resource.views', id=pkg.name, resource_id=res.id, class_='dropdown-item', icon='chart-bar' %}</li>
{% endif %}
{% endblock %}
