{% ckan_extends %}

{% macro onedataportal_issue_item(issue, pkg, current_user) -%}
      <li class="list-group-item">
        <span class="list-group-item-number">#{{issue.number}}</span>
        {% set reported_by_current_user = h.issues_user_has_reported_issue(current_user, issue.abuse_reports) %}
        {% if issue.visibility == 'hidden' %}
          <div class="issue-comment-label">
            Spam/Abuse - hidden from normal users
          </div>
        {% elif reported_by_current_user %}
          <div class="issue-comment-label">
            <i class="icon-flag"></i>Reported by you to admins
          </div>
        {% endif%}
        <h4 class="list-group-item-name">
          {% set issue_icon = 'abuse' if issue.visibility == 'hidden' else issue.status %}
          <span class="{{ issue_icon }} icon" title="{{issue.status}} issue"><i class="icon-exclamation-sign"></i></span>
          <a href="{{ h.url_for('issues_show', dataset_id=pkg.id, issue_number=issue.number) }}" {% if issue.visibility == 'hidden'%} class="issue-abuse"{% endif%}>
            {{issue.title}}
          </a>
        </h4>
        <ul class="list-group-item-meta">
          <li>Opened by <a href="{{ h.url_for('user_datasets', id=issue.user) }}">{{issue.user}}</a></li>
          <li>
            <i class="icon-clock"></i>
            <span class="timeago" title="{{h.render_datetime(issue.created)}}"> updated {{ h.time_ago_from_timestamp(h.onedataportal_naive_to_utc(issue.created)) }}</span>
          </li>
          <li>
            <i class="icon-comments"></i>
            <a href="{{ h.url_for('issues_show', dataset_id=pkg.id, issue_number=issue.number) }}">
              {{ _('%s comments') % (issue.comment_count) }}
            </a>
          </li>
        </ul>
      </li>
{%- endmacro %}
